---
layout: "layouts/base.njk"
permalink: "press.html"
title: "Press Review featuring Maria Luisa Macellaro La Franca"
description: "Press Review featuring Maria Luisa Macellaro La Franca"
og_title: "Press Review featuring Maria Luisa Macellaro La Franca"
og_description: "Press Review featuring Maria Luisa Macellaro La Franca"
og_type: "website"
twitter_title: "Press Review featuring Maria Luisa Macellaro La Franca"
twitter_description: "Press Review featuring Maria Luisa Macellaro La Franca"
twitter_card: "summary_large_image"
css_href: "../cdn.prod.website-files.com/66b9f659f5f74a4a9e25ef1d/css/maria-luisa-macellaro-la-franca.webflow.shared.dc88a0d75.css"
favicon_href: "../cdn.prod.website-files.com/66b9f659f5f74a4a9e25ef1d/66b9f659f5f74a4a9e25f015_favicon.png"
webclip_href: "../cdn.prod.website-files.com/66b9f659f5f74a4a9e25ef1d/66b9f659f5f74a4a9e25f016_webclip.png"
html_attrs: "data-wf-domain=\"www.marialuisamacellarolafranca.com\" data-wf-page=\"66b9f659f5f74a4a9e25ef9d\" data-wf-site=\"66b9f659f5f74a4a9e25ef1d\" lang=\"en\""
section: "press"
nav_current: "true"
asset_prefix: ".."
---
{% from "partials/press-card.njk" import featureCard, standardCard %}
{% set feature_item = (news | selectattr("feature", "equalto", true) | first) %}
<main class="page-wrapper">
  <section class="latest-articles">
    <div class="w-layout-blockcontainer container w-container">
      <section class="page-title-wrapper">
        <div class="title-content">
          <div class="title-text-wrapper">
            <div class="mask-title">
              <div style="-webkit-transform:translate3d(0, 80px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 80px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 80px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 80px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="label-page-title">REVIEWS &amp; FEATURES</div>
            </div>
            <div class="mask-title">
              <h1 style="-webkit-transform:translate3d(0, 80px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 80px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 80px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 80px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="f-allcaps fweight-extrabold">PRESS</h1>
            </div>
          </div>
        </div>
        <div style="width:0%" class="line-separator full-black"></div>
      </section>
      <div class="w-dyn-list">
        <div role="list" class="row-collection w-dyn-items">
          {% if feature_item %}
            {{ featureCard(feature_item) }}
          {% endif %}
        </div>
      </div>
      <div class="w-dyn-list">
        <div role="list" class="column-collection w-dyn-items">
          {% for item in news %}
            {% if not item.feature %}
              {{ standardCard(item) }}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
</main>
