<footer class="footer bg-primary-dark">
  <div class="container-footer">
    <div data-w-id="a345764e-c569-fec6-c775-90a16479b74e" class="line-separator-footer">
      <div id="w-node-a345764e-c569-fec6-c775-90a16479b750-6479b74c" class="footer-details">
        <div class="columns w-row">
          <div class="w-col w-col-4">
            <div class="footer-logo-wrapper">
              <div>Maria Luisa Macellaro La Franca</div>
              <p class="fsize-tiny small-text-footer">contact :<br />pianomary@hotmail.it</p>
            </div>
          </div>
          <div class="w-col w-col-4">
            <div class="footer-logo-wrapper">
              <div>Manager</div>
              <p class="fsize-tiny small-text-footer">Jean Paul COLOMBO <br />Ô Kazoo <br />Tel : 0549886151 - 0663872222<br />mail : cie.okazoo@gmail.com</p>
            </div>
          </div>
          <div class="w-col w-col-4">
            <div class="streaming-icons">
              <div class="w-dyn-list">
                <div role="list" class="streaming-icons w-dyn-items">
                  <div role="listitem" class="w-dyn-item">
                    <a href="https://spotify.com/" class="stream-link w-inline-block">
                      <img loading="lazy" src="{{ asset_prefix }}/cdn.prod.website-files.com/66b9f659f5f74a4a9e25efb3/66b9f659f5f74a4a9e25f08b_Spotify-white.svg" alt="" class="img-stream-icons" />
                    </a>
                  </div>
                  <div role="listitem" class="w-dyn-item">
                    <a href="https://www.youtube.com/" class="stream-link w-inline-block">
                      <img loading="lazy" src="{{ asset_prefix }}/cdn.prod.website-files.com/66b9f659f5f74a4a9e25efb3/66b9f659f5f74a4a9e25f080_YouTube-white.svg" alt="" class="img-stream-icons" />
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="streaming-icons">
              <div class="w-dyn-list">
                <div role="list" class="streaming-icons w-dyn-items">
                  <div role="listitem" class="w-dyn-item">
                    <a href="https://www.instagram.com/" class="stream-link w-inline-block">
                      <img loading="lazy" src="{{ asset_prefix }}/cdn.prod.website-files.com/66b9f659f5f74a4a9e25efb3/66b9f659f5f74a4a9e25f058_Instagram-white.svg" alt="" class="img-stream-icons" />
                    </a>
                  </div>
                  <div role="listitem" class="w-dyn-item">
                    <a href="https://tiktok.com/" class="stream-link w-inline-block">
                      <img loading="lazy" src="{{ asset_prefix }}/cdn.prod.website-files.com/66b9f659f5f74a4a9e25efb3/66b9f659f5f74a4a9e25eff8_Tiktok-white.svg" alt="" class="img-stream-icons" />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
