{% macro featureCard(item) %}
<div role="listitem" class="w-dyn-item">
  <a data-w-id="94c850ac-372e-178f-90d9-6542a6ab1793" href="news/{{ item.slug }}.html" class="collection-link feature w-inline-block">
    <div data-w-id="94c850ac-372e-178f-90d9-6542a6ab1794" class="trigger-hover"></div>
    <div id="w-node-_94c850ac-372e-178f-90d9-6542a6ab1795-9e25ef9d" data-w-id="94c850ac-372e-178f-90d9-6542a6ab1795" class="image-wrapper">
      <img loading="eager" src="{{ item.image_src }}" alt="" sizes="{{ item.image_sizes }}" srcset="{{ item.image_srcset }}" class="{{ item.image_class }}" />
      <div style="display:block;width:100%;height:100%" class="cover-wipe"></div>
    </div>
    <div id="w-node-_94c850ac-372e-178f-90d9-6542a6ab1798-9e25ef9d" data-w-id="94c850ac-372e-178f-90d9-6542a6ab1798" class="news-tag feature">{{ item.tag }}</div>
    <div id="w-node-_94c850ac-372e-178f-90d9-6542a6ab179a-9e25ef9d" style="-webkit-transform:translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="collection-item-title">
      <h2 class="fsize-xlarge">{{ item.title_display }}</h2>
    </div>
    <div id="w-node-_94c850ac-372e-178f-90d9-6542a6ab179d-9e25ef9d" style="-webkit-transform:translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="desc">
      <div class="short-desc">{{ item.short_desc }}</div>
    </div>
  </a>
</div>
{% endmacro %}

{% macro standardCard(item) %}
<div data-w-id="90d88023-d8a5-b95d-cb35-2f0002c8ee05" style="opacity:0" role="listitem" class="w-dyn-item">
  <a data-w-id="90d88023-d8a5-b95d-cb35-2f0002c8ee06" href="news/{{ item.slug }}.html" class="collection-link w-inline-block">
    <div data-w-id="90d88023-d8a5-b95d-cb35-2f0002c8ee07" class="trigger-hover"></div>
    <div data-w-id="90d88023-d8a5-b95d-cb35-2f0002c8ee08" class="image-wrapper">
      <img loading="eager" src="{{ item.image_src }}" alt="" sizes="{{ item.image_sizes }}" srcset="{{ item.image_srcset }}" class="{{ item.image_class }}" />
      <div style="display:block;width:100%;height:100%" class="cover-wipe"></div>
    </div>
    <div data-w-id="90d88023-d8a5-b95d-cb35-2f0002c8ee0b" style="-webkit-transform:translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="news-tag">{{ item.tag }}</div>
    <div style="-webkit-transform:translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="collection-item-title">
      <h3 class="fsize-xxsmall">{{ item.title_display }}</h3>
    </div>
    <div style="-webkit-transform:translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="desc">
      <div class="short-desc">{{ item.short_desc }}</div>
    </div>
  </a>
</div>
{% endmacro %}
